<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.web>
	<globalization culture="pt-BR" uiCulture="pt-BR" />
    <!--<urlMappings enabled="true">
      <add url="~/Default.aspx" mappedUrl="~/_candidato/AutocompleteData.ashx"/>
    </urlMappings>-->    
    <customErrors defaultRedirect="erro.aspx" mode="On">
      <error statusCode="403" redirect="/erro.aspx" />
      <error statusCode="404" redirect="/erro.aspx" />
      <error statusCode="500" redirect="/erro.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms name="loginWEB" loginUrl="login.aspx" />
    </authentication>
    <compilation debug="true" explicit="true" strict="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" executionTimeout="200" maxRequestLength="1000" requestLengthDiskThreshold="256" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="500" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="jobclickDB" connectionString="Persist Security Info=False;Data Source=.\SQLEXPRESS;Initial Catalog=jobclickdb;User Id=sa;Password=HOTaaoo00cli" providerName="System.Data.SqlClient" />
    <add name="jobclickDB_Mailing" connectionString="Persist Security Info=False;Data Source=.\SQLEXPRESS;Initial Catalog=_Mailing_Jobclick;User Id=sa;Password=HOTaaoo00cli" providerName="System.Data.SqlClient" />
    <add name="jobclickDB_MSDB" connectionString="Persist Security Info=False;Data Source=.\SQLEXPRESS;Initial Catalog=msdb;User Id=sa;Password=HOTaaoo00cli" providerName="System.Data.SqlClient" />
    <add name="SMSCenterConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SMSCenter;Persist Security Info=True;User ID=sa;Password=HOTaaoo00cli" providerName="System.Data.SqlClient" />
    <add name="SMSCenterConnectionStringOut" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SMSCenter;Persist Security Info=True;User ID=sa;Password=HOTaaoo00cli" providerName="System.Data.SqlClient" />
    <add name="SMSCenterConnectionStringMaster" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SMSCenter;Persist Security Info=True;User ID=sa;Password=HOTaaoo00cli" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="_corporativo_departamento">
    <system.web>
      <authorization>
        <allow users="CorporativoDepartamento" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_corporativo_parceiro">
    <system.web>
      <authorization>
        <allow users="CorporativoParceiro" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_corporativo">
    <system.web>
      <authorization>
        <allow users="Corporativo" />
        <allow users="Consultor" />
        <allow users="CorporativoAssociado" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_comercial">
    <system.web>
      <authorization>
        <allow users="Comercial" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_financeiro">
    <system.web>
      <authorization>
        <allow users="Financeiro" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_consultor">
    <system.web>
      <authorization>
        <allow users="Consultor" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_consultorWizard">
    <system.web>
      <authorization>
        <allow users="Consultor Wizard" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_gestor">
    <system.web>
      <authorization>
        <allow users="Gestor" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_admin">
    <system.web>
      <authorization>
        <allow users="Administrador" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_candidato">
    <system.web>
      <authorization>
        <allow users="Candidato" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_profile">
    <system.web>
      <authorization>
        <allow users="Candidato" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_empresa">
    <system.web>
      <authorization>
        <allow users="Empresa" />
        <allow users="RHUser" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_parceiroJobClick">
    <system.web>
      <authorization>
        <allow users="EmpresaJobClick" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_empresaJC">
    <system.web>
      <authorization>
        <allow users="EmpresaJobClick" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_empresa/_vaga">
    <system.web>
      <authorization>
        <allow users="RHUser" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_empresa/_processo">
    <system.web>
      <authorization>
        <allow users="RHUser" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="_empresa/_agenda">
    <system.web>
      <authorization>
        <allow users="RHUser" />
        <deny users="*" />
      </authorization>
      <pages validateRequest="false" />
    </system.web>
  </location>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <!--<rewrite>
      <rules>
        <rule name="Canonical">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.jobclick\.com\.br$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.jobclick.com.br/{R:1}" />
        </rule>
        <rule name="Vaga" stopProcessing="true">
          <match url="^vaga/([_/0-9a-z-]+)" />
          <action type="Redirect" url="_anonimo/vagas.aspx?pesquisa={R:1}" />
        </rule>
        <rule name="Cadastro Empresa" stopProcessing="true">
          <match url="^RegistroEmpresa" />
          <action type="Redirect" url="_anonimo/cadastroEmpresa.aspx" />
        </rule>
        <rule name="Cadastro Candidato" stopProcessing="true">
          <match url="^Registro" />
          <action type="Redirect" url="_anonimo/cadastroCandidato.aspx" />
        </rule>
                <rule name="Candidato">
                    <match url="^Candidato" />
                    <action type="Rewrite" url="DefaultCandidato.aspx" />
                </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="http://www.jobclick.com.br/404.aspx" responseMode="Redirect" />
    </httpErrors>-->
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service" />
      </service>
    </services>
  </system.serviceModel>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>